.icon {
  font-size: 35px;
  font-weight: 700;
  color: orangered;
}
.satisfiction h2 {
  font-size: 38px;
  line-height: 52px;
  color: #02256e;
  font-family: "" Poppins "";
  font-family: "poppins", sans-serif;
}

.satisfiction p {
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 16px;
  color: #625a5a;
}

.satisfiction .btn {

  padding: 15px 22px;
  background: black;
  color: orange;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .7s;
}
.satisfiction .btn:hover{
    background-color: orange;
    color: black;
}
