.login-form{
    width: 50%;
}
.login-content p{
    font-size: 17px;
}
.login-btn{
    width: 50%;
}
.login-content p button{
    font-size: 14px;
    transition: .3s ease-in;
}
.login-content p button:hover{
    background-color: black;
    color: white;
    transition: .5s;
}
@media only screen and (max-width: 500px) {
    .login-form{
        width: 100%;
    }
    .login-content p{
        font-size: 14px;
    }
    .login-btn{
        width: 100%;
    }
    .login-content p button{
        font-size: 14px;
        transition: .3s ease-in;
    }
  }